*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ff4d79;
  -webkit-transition: .5s;
  transition: .5s;
}

.burger-menu {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.burger-menu span {
  width: 25px;
  height: 2px;
  background: #000;
}

.burger-menu::before, .burger-menu::after {
  content: "";
  width: 25px;
  height: 2px;
  background: #000;
  position: absolute;
}

.burger-menu::before {
  top: 35%;
}

.burger-menu::after {
  bottom: 35%;
}

.burger-menu.active::before {
  -webkit-animation: move-top-down .5s forwards;
          animation: move-top-down .5s forwards;
}

.burger-menu.active::after {
  -webkit-animation: move-bottom-up .5s forwards;
          animation: move-bottom-up .5s forwards;
}

.burger-menu.active span {
  display: none;
}

@-webkit-keyframes move-bottom-up {
  0% {
    bottom: 35%;
  }
  50% {
    bottom: 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes move-bottom-up {
  0% {
    bottom: 35%;
  }
  50% {
    bottom: 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes move-top-down {
  0% {
    top: 35%;
  }
  50% {
    top: 45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes move-top-down {
  0% {
    top: 35%;
  }
  50% {
    top: 45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.burger-menu.close::before {
  -webkit-animation: move-top-up .5s forwards;
          animation: move-top-up .5s forwards;
}

.burger-menu.close::after {
  -webkit-animation: move-bottom-down .5s forwards;
          animation: move-bottom-down .5s forwards;
}

.burger-menu.close span {
  display: block;
}

@-webkit-keyframes move-bottom-down {
  0% {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    bottom: 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 35%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes move-bottom-down {
  0% {
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    bottom: 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    bottom: 35%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes move-top-up {
  0% {
    top: 45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 35%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes move-top-up {
  0% {
    top: 45%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 45%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 35%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.menu {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu.active {
  width: 400px;
  height: 400px;
  top: -65px;
  left: -50px;
}

.menu__item {
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
}

.menu__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.menu__item:hover::before {
  width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}

.menu__link {
  font-size: 20px;
}

.colors {
  width: 70px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: calc(50%-25%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.colors__color {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: #000;
}

.colors__color--pink {
  background-color: #ff4d79;
}

.colors__color--blue {
  background-color: #4d94ff;
}

.colors__color--yellow {
  background-color: #fffc4d;
}

.colors__color--green {
  background-color: #5cff4d;
}

.background {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(213, 222, 212, 0.2);
}

.background.active {
  display: block;
}
/*# sourceMappingURL=style.css.map */